{% extends 'myappF23/base.html' %}
{% block body_block %}
    {% if user_visits %}
        <p>This page has been visited {{ user_visits }} times.</p>
    {% else %}
        <p>First visit to this page!</p>
    {% endif %}
    <p>{{ message }}</p>
    {% if category_list %}
        <h2>List of Categories</h2>
        <ol>
            {% for category in category_list %}
                <li><a href="{% url 'myappF23:detail' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available categories!</strong>
    {% endif %}

    {% if course_list %}
        <h2>List of courses:</h2>
        <ul>
            {% for course in course_list %}
                <li>
                    {{ course.title }} - Level: {{ course.get_level_display }} - Price: ${{ course.price }}
                    <br>
                    Instructor: <a href="{% url 'myappF23:instructor_detail' course.instructor.id %}">{{ course.instructor.first_name }} {{ course.instructor.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no available courses for this category!</strong>
    {% endif %}



{% endblock %}

